# Preliminaries

In [17]:
# Variables 
x = 10
name = "Harrily"
print(f"hello, my name is {name}!")

hello, my name is Harrily!

In [18]:
# Basic operations 
y = 3
print(x % y)

1

In [19]:
# String operations
s = "machine learning"
print(len(s))
print(s[:])

16
machine learning

In [20]:
# If statement
score = 95
if score > 100:
    print("u success!!")
else:
    print("u faild!!!")

u faild!!!

In [21]:
# For statement
# for i in [1, 2, 3]:
#     print(i)

for i in range(5):
    print("I get it !!!")

I get it !!!
I get it !!!
I get it !!!
I get it !!!
I get it !!!

In [28]:
init_list = [1, 2, 3, 4]
final_list = [x*x for x in init_list]
final_list

[1, 4, 9, 16]

In [29]:
# While statement
x = 5
while x > 0:
    print(x)
    x -= 1

5
4
3
2
1

In [30]:
# Define a function
def add(a, b):
    return a+b

add(1, 2)

3

# About python package
检查一下pip是否正确安装
```bash
pip --version
```
有关pip管理package的操作
检查目前环境下所有的package:
```bash
pip list
```
检查是否安装了特定的package:
```bash
pip show < PACKAGE_NAME >
```
安装特定的的package:
```bash
pip install < PACKAGE_NAME >
```

In [32]:
# Numpy basis
import numpy as np
arr = np.array([1, 2, 3, 4])
print(arr)

[1 2 3 4]

In [33]:
# Pandas basis
import pandas as pd 
df = pd.DataFrame([1, 2, 3])
print(df)

   0
0  1
1  2
2  3

# Basic data analysis

In [34]:
df = pd.read_csv("pokemon_data.csv")

In [37]:
df.head(3)
df.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [40]:
df.shape

(800, 12)

In [38]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [41]:
df.info

<bound method DataFrame.info of        #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]>

In [42]:
hp = df["HP"]
hp

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [45]:
bas = df[["Name", "HP"]]
bas.head(3)

        Name  HP
0  Bulbasaur  45
1    Ivysaur  60
2   Venusaur  80

In [46]:
col = df[1:10]
col

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [48]:
print(df.iloc[0:5, 0:4])

   #                   Name Type 1  Type 2
0  1              Bulbasaur  Grass  Poison
1  2                Ivysaur  Grass  Poison
2  3               Venusaur  Grass  Poison
3  3  VenusaurMega Venusaur  Grass  Poison
4  4             Charmander   Fire     NaN

In [49]:
fire = df[df["Type 1"] == "Fire"]
print(fire.head(3))

   #        Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
4  4  Charmander   Fire     NaN  39      52       43       60       50     65
5  5  Charmeleon   Fire     NaN  58      64       58       80       65     80
6  6   Charizard   Fire  Flying  78      84       78      109       85    100

   Generation  Legendary
4           1      False
5           1      False
6           1      False